body, html {
  width:100%;
  height:100%;
}

body {
  background-color:steelblue;
  margin:0;
}

.container {
  background-color:lightblue;
  height:60%;
  position:relative;
}

.drop {
  position:absolute;
  animation-name: fall;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  top:-40px;
}

.drop .tail {
  position: absolute;
  top:0;
  left:0;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: steelblue;
  border-left-color:transparent;
  border-width: 0 10px 30px 10px;
  border-style: solid;
  width:0;
  height:0;
}

.drop .head {
  position:absolute;
  width:0;
  height:0;
  border-width:10px;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: steelblue;
  border-left-color:steelblue;
  border-style:solid;
  border-radius:50%;
  top:20px;
  transform:rotate(-45deg);
}

@keyframes fall {
  0% {
    top:-40px;
  }
  100% {
    top:105%;
  }
}

.wave {
  position:absolute;
  top:98%;
  width:200px;
  height:50px;
  background-color:lightblue;
  border-radius:50%;
  animation-name: wave;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes wave {
  from {
    height:50px;
  }
  to {
    height:20px;
  }
}

.boat {
  position:absolute;
  bottom:-20%;
  left:50%;
  width:200px;
  height:100px;
	animation-name: boat;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-delay: 1s;
  z-index:1000;
}

@keyframes boat {
  from {
    transform: rotate(-6deg);
  }
  to {
    transform: rotate(6deg);
  }
}

.cabin {
  width:50px;
  height:50px;
  background-color: white;
  margin-left:75px;
  position:relative;
}

.hublot {
  width:15px;
	height:15px;
  border-radius:50%;
  background-color: lightblue;
  border: 4px solid sienna;
  position:absolute;
  top:10px;
  left:10px;
}

.front {
  position:absolute;
  bottom:0;
  left:0;
  width:0;
  height:0;
  border-style: solid;
  border-width: 25px;
  border-color: indianred indianred transparent transparent;
}

.middle {
  position: absolute;
  bottom:0;
  left:50px;
  width:100px;
  height:40px;
  margin-bottom:10px;
  background-color: indianred;
}

.middle .swash {
	position:absolute;
  width:40px;
  height:33px;
  border-radius:50%;
  background-color: indianred;
  top:25px;
  animation-name: swash;
  animation-iteration-count:infinite;
  animation-direction:alternate;
}

.middle .swash:nth-child(1) {
  left:-2px;
}

.middle .swash:nth-child(2) {
  left:32px;
}

.middle .swash:nth-child(3) {
  right:-2px;
}

@keyframes swash {
  from {
    top: 23px;
  }
  to {
    top:28px;
  }
}

.back {
  position:absolute;
  bottom:0;
  right:0;
  width:0;
  height:0;
  border-style: solid;
  border-width: 25px;
  border-color: indianred transparent transparent indianred;
}


.fish {
  width:115px;
  height:50px;
  position:absolute;
  animation-name: fish;
  animation-iteration-count: infinite;
  animation-timing-function:linear;
  top:80%;
}
.fish .head {
  width:0;
  height:0;
  border-color:darkturquoise transparent transparent darkturquoise;
  border-width:25px;
  border-style: solid;
  border-radius:50%;
  transform: rotate(-45deg);
}

.fish .eye {
  position: absolute;
  top:10px;
  left:10px;
	background-color:#000;
  border-style: solid;
  border-color: white;
  border-width:3px 3px 3px 1px;
  border-radius:50%;
  width:8px;
  height:8px;
}

.fish .body {
  position:absolute;
  top:0;
  left:25px;
  width: 10px;
  height:50px;
  background-color:darkturquoise;
  float:left;
  margin-left:0px;
}

.fish .tail {
  position:absolute;
  top:0;
  left:35px;
  width:0;
  height:0;
  border-color:transparent darkturquoise transparent darkturquoise;
  border-width:25px 15px 25px 50px;
  border-style: solid;
  animation-name: fishtail;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-duration:.5s;
  animation-timing-function: ease-in-out;
}

@keyframes fish {
  from {
    right:-20%;
  }
  to {
    right:110%;
  }
}

@keyframes fishtail {
  from {
    border-right-width:15px;
  }
  to {
    border-right-width:25px;
  }
}