<!doctype html>
<html lang="en">
<head>
  <title>SAMOS Ship Tracker</title>
  <link rel="stylesheet" href="//cdn.leafletjs.com/leaflet-0.5.1/leaflet.css" />
  <!--[if lte IE 8]-->
  <link rel="stylesheet" href="//cdn.leafletjs.com/leaflet-0.5.1/leaflet.ie.css" />
  <!--[endif]-->

  <script src="//code.jquery.com/jquery-2.0.0.min.js"></script>
  <link href='//fonts.googleapis.com/css?family=Milonga' rel='stylesheet' type='text/css'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <link href="http://doms.coaps.fsu.edu/map/static/styles/index.css" rel="stylesheet" type="text/css" />

</head>
<body>
  <h1 id="title">SAMOS Ship Tracker</h1>
  <div id="map"></div>
  <script src="//cdn.leafletjs.com/leaflet-0.5.1/leaflet.js"></script>
  <!--<span id="fossribbon"><a href="https://openshift.redhat.com/app/console/application_types/custom?name=parks&initial_git_url=https%3A%2F%2Fgithub.com/ryanj/flask-postGIS.git&cartridges[]=python-2.6&cartridges[]=postgresql-9.2">Run me on OpenShift</a></span>-->
  <script type="text/javascript" src="http://doms.coaps.fsu.edu/map/static/js/index.js"></script>
</body>
</html>